<div class="container">
  <div class="squares">
<p>yo</p>  
<ul>
    {{#link-to 'menu'}}       
	<li>Menu</li>
      {{/link-to}}
      {{#link-to 'contact'}}
        <li>Contact</li>
      {{/link-to}}
      {{#link-to 'payment'}}
        <li>Payment</li>
      {{/link-to}}
      {{#link-to 'booking'}}
        <li>Booking</li>
      {{/link-to}}
      </ul>
  </div>
</div>
  <div class="body">
<p>whatup</p>    
{{outlet}}
  </div>
<div class="footer">
<footer>
Andrew Strasser 2017
</footer>
</div>