<div class="container">
  <div class="menu">
    {{#link-to 'index'}}
      <h1 class="left">
        <em>Andrew Strasser</em>
      </h1>
    {{/link-to}}
    <div class="left links">
    {{#link-to 'Menu'}}
        Menu
      {{/link-to}}
      {{#link-to 'contact'}}
        Contact
      {{/link-to}}
      {{#link-to 'payment'}}
        Payment
      {{/link-to}}
      {{#link-to 'booking'}}
        Booking
      {{/link-to}}
    </div>
  </div>
  <div class="body">
    {{outlet}}
  </div>
</div>
