<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Contact</h2>
  <p>Use the form or email or call</p>
  <p>
    Andrew Strasser
    <address>
      1212 Test Address Avenue<br>
      Brazil
    </address>
    <a href="tel:503.555.1212">+1 (555) 555-1212</a><br>
    <a href="mailto:andrew@andrewstrasser.com">andrew@andrewstrasser.com</a>
  </p>
</div>