<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Items</h2>
  <p>A PROPER CONTEMPORARY ALBUM COVER SHOULD BE ABLE TO FUNCTION AS A SMALL ICON AS WELL AS A LARGE POSTER</p>
  {{#link-to 'about' class="button"}}
    Andrew W.K.
  {{/link-to}}
</div>
{{outlet}}
