<div class="header">
<p>search bar</p>
</div>
<div class="main-icon-bar">
      <ul>
      {{#link-to 'menu'}}
        <li><p>Menu</p></li>
      {{/link-to}}
      {{#link-to 'contact'}}
        <li><p>Contact</p></li>
      {{/link-to}}
      {{#link-to 'payment'}}
      <li><p>Payment</p></li>
      {{/link-to}}
      {{#link-to 'booking'}}
      <li><p>Booking</p></li>
      {{/link-to}}
      </ul>
      </div>

<div class="sub-icon-bar">
      <ul>
      {{#link-to 'index'}}
      <li><p>home</p></li>
      {{/link-to}}
      </ul>
      </div>


  <div class="body">
    {{outlet}}
</div>