<div class="header">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<div class="container">
<div class="col-md-3">
  <form class="navbar-form" role="search">
    <div class="input-group add-on">
      <input class="form-control" placeholder="Search" name="srch-term" id="srch-term" type="text">
      <div class="input-group-btn">
        <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
      </div>
    </div>
  </form>
  </div>																									
</div>
</div>
<div class="menu-container-right" onclick="navSquare(this)">
      <ul>
      <div class="square" onclick="navSquare(this)">
      {{#link-to 'menu'}}
        <li><p>Menu</p></li>
      {{/link-to}}
      </div>
      <div class="square" onclick="navSquare(this)">
      {{#link-to 'contact'}}
        <li><p>Contact</p></li>
      {{/link-to}}
      </div>
      <div class="square" onclick="navSquare(this)">
      {{#link-to 'payment'}}
      <li><p>Payment</p></li>
      {{/link-to}}
      </div>
      <div class="square" onclick="navSquare(this)">
      {{#link-to 'booking'}}
      <li><p>Booking</p></li>
      {{/link-to}}
      </div>
      </ul>
      </div>

<div class="menu-container-left" onclick="navSquare(this)">
      <ul>
      <div class="square">
       {{#link-to 'index'}}
        <li><p>home</p></li>
       {{/link-to}}
      </div>
      </ul>
      </div>

  <div class="body">
    {{outlet}}
</div>