     <div class="main-icon-bar">
      <ul>
      {{#link-to 'menu'}}
        <li>Menu</li>
      {{/link-to}}
      {{#link-to 'contact'}}
        <li>Contact</li>
      {{/link-to}}
      {{#link-to 'payment'}}
      <li>Payment</li>
      {{/link-to}}
      {{#link-to 'booking'}}
      <li>Booking</li>
      {{/link-to}}
      </ul>
      </div>
  <div class="body">
    {{outlet}}
</div>