<script src="https://code.createjs.com/createjs-2015.11.26.min.js"></script>
<script src="scripts/menu_bubble.js"></script>
<script src="scripts/draw_bubble.js"></script>
<body onload="init();" style="margin:0px;">
      <div id="animation_container" style="background-color:rgba(255, 255, 255, 1.00); width:1024px; height:768px">
      	   <canvas id="canvas" width="1024" height="768" style="position: absolute; display: block; background-color:rgba(255, 255, 255, 1.00);"></canvas>
	   	   <div id="dom_overlay_container" style="pointer-events:none; overflow:hidden; width:1024px; height:768px; position: absolute; left: 0px; top: 0px; display: block;">
		   	</div>
			</div>
</body>